<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @question] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <fieldset class="item">
        <%= f.label "Subject" %>
        <%= f.collection_select(:subject_id, Subject.all, :id, :name) %>
        <%= f.label :content %><br />
        <%= f.text_field :content %>
      </fieldset>
      <h2>Answer</h2>
      <div class="items">
        <%= f.nested_fields_for :answers do |f| %>
          <%= render 'answer', f: f %>
        <% end %>
      </div>
      <br/>
      <a href="#" class="add">add answer </a>
      <br/>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
